[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
requests = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
zoomus = "*"
pyjwt = "*"

[dev-packages]
faker = "*"
pytz = "*"
