{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
{% endblock %}

{% block content %}
<div class="d-flex" style="width: 100vw; height: 100vh;">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary mt-3" style="width: 280px; height:95vh">
    <a href="/dashboard" class="d-flex align-items-center mb-3 ms-md-0 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <h3 class="title">Mentoring.dev</h3>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/dashboard" class="nav-link link-body-emphasis" aria-current="page">
          <i class="fa-solid fa-house"></i>
          Inicio
        </a>
      </li>
      <li>
        <a href="/calendar" class="nav-link active">
          <i class="fa-solid fa-calendar"></i>
          Calendario
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ initials }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="edit/user/{{user_id}}">Editar perfil</a></li>
        <li><a class="dropdown-item text-danger" id="show_del_modal" data-bs-toggle="modal" data-bs-target="#del_user_modal" href="#">Eliminar cuenta</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="logout">Cerrar sesion</a></li>
      </ul>
    </div>
  </div>


  <div class="dashboard-container d-flex">
    <div id="calendar" class="card m-2"></div>
    <button id="addEventButton">Agregar Evento</button>
    <p id="selectedDate">Fecha seleccionada: Ninguna</p>
  </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/index.global.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          height: 600,
          aspectRatio: 2,
          //contentHeight: 800,
          selectable: true,
          businessHours: true,
          dayMaxEvents: true,
          select: function(info) {
            // Manejar la selección de fecha
            var selectedDate = info.start;
            document.getElementById('selectedDate').textContent = 'Fecha seleccionada: ' + selectedDate.toLocaleDateString();
    
            // Habilitar el botón "Agregar Evento"
            document.getElementById('addEventButton').removeAttribute('disabled');
            document.getElementById('addEventButton').addEventListener('click', function() {
              // Aquí puedes mostrar un cuadro de diálogo o un formulario para que el usuario ingrese detalles del evento
              // Luego, puedes crear el evento utilizando AJAX o cualquier método que prefieras y agregarlo al calendario.
              // Por ejemplo:
              calendar.addEvent({
                title: 'Nuevo Evento',
                start: selectedDate,
                allDay: true // Si el evento es de todo el día
              });
    
              // Deshabilitar el botón después de agregar el evento
              document.getElementById('addEventButton').setAttribute('disabled', true);
            });
          },
          eventColor: '#7209B7',
        });
    
        calendar.render();
      });
    </script>
    
    
{% endblock %}