{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
<div class="container d-flex">
  <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
    <a href="/dashboard" class="d-block p-3 link-body-emphasis text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
      <h3 class="title">Mentoring.dev</h3>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
          <i class="fa-solid fa-house"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Calendar" data-bs-original-title="Calendar">
          <i class="fa-solid fa-calendar"></i>
        </a>
      </li>
    </ul>
    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow" style="">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
  <div class="container dashboard-container">
    <div class="container">
      <nav class="navbar bg-body-tertiary row justify-content-end">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ initials }}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="edit/user/{{user_id}}">Editar perfil</a></li>
            <li><a class="dropdown-item" href="logout">Cerrar sesion</a></li>
            <li><a class="dropdown-item text-danger" id="show_del_modal" data-bs-toggle="modal" data-bs-target="#del_user_modal" href="#">Eliminar cuenta</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row justify-content-center align-items-center ms-1">
      <div class="col d-flex align-items-center">
        <form method="post" class="d-flex align-items-center ms-1">
          {% csrf_token %}
          <p class="mb-0 me-1 col-6">¿Buscas un área en específico?</p>
          <select class="form-select" id="areaSelect" name="area_id">
            <option value="0">Todas las áreas</option>
            {% for area in all_areas %}
              <option value="{{ area.id }}" {% if selected_area_id == area.id %}selected{% endif %}>{{ area.name }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary ms-2" id="filterButton">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>

    <div class="container mt-3">
      <div class="row">
      {% if mentors %}
        {% for mentor in mentors %}
          {% include 'mentor_card.html' %}
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>

  <div class="modal" id="del_user_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">¿Estás seguro de que deseas eliminar tu cuenta?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Si eliminas la cuenta se perderán todos los datos y no será posible recuperarlos.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="delete/user/{{user_id}}" type="button" class="btn btn-primary" id="confirm_del_user">Confirmar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/delete_user.js' %}"></script>
{% endblock %}
