{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
<div class="d-flex">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary mt-3" style="width: 280px; height:95vh">
    <a href="/dashboard" class="d-flex align-items-center mb-3 ms-md-0 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <h3 class="title">Mentoring.dev</h3>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/dashboard" class="nav-link active" aria-current="page">
          <i class="fa-solid fa-house"></i>
          Inicio
        </a>
      </li>
      {% if is_mentor %}
      <li>
        <a href="/calendar" class="nav-link link-body-emphasis">
          <i class="fa-solid fa-calendar"></i>
          Calendario
        </a>
      </li>
      {% endif %}
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ initials }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        {% if request.session.is_mentor == True %}
            <li><a class="dropdown-item" href="edit/mentor/{{user_id}}">Editar perfil</a></li>
            {% elif request.session.is_mentor == False %}
            <li><a class="dropdown-item" href="edit/user/{{user_id}}">Editar perfil</a></li>
            {% endif %}
        <li><a class="dropdown-item text-danger" id="show_del_modal" data-bs-toggle="modal" data-bs-target="#del_user_modal" href="#">Eliminar cuenta</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="logout">Cerrar sesion</a></li>
      </ul>
    </div>
  </div>


  <div class=" dashboard-container">
    <div class="container d-flex align-items-center mt-1">
      <div class="svg-container col-md-5">
        {% load static %}
        <img src="{% static 'img/phone.svg' %}" alt="SVG" class="custom-svg">
      </div>
      <div class="frase">
        <p>Explora un espacio dedicado a la <span class="mentoria-gratuita">mentoría gratuita</span>, con profesionales dispuestos a guiar tu camino en el mundo IT. Conecta con mentores expertos en diversas áreas de la informática.</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center ms-1">
      <div class="col d-flex align-items-center justify-content-center">
        <form method="post" class="d-flex align-items-center ms-1">
          {% csrf_token %}
          <p class="mb-0 me-1 col-5">¿Buscas un área en específico?</p>
          <select class="form-select col-6" id="areaSelect" name="area_id" style="width:60%">
            <option value="0">Todas las áreas</option>
            {% for area in all_areas %}
              <option value="{{ area.id }}" {% if selected_area_id == area.id %}selected{% endif %}>{{ area.name }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary ms-2" id="filterButton">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>

    <div class="container ms-2 mt-3">
      <div class="row">
      {% if mentors %}
        {% for mentor in mentors %}
          {% include 'mentor_card.html' %}
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>

  <div class="modal" id="del_user_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">¿Estás seguro de que deseas eliminar tu cuenta?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Si eliminas la cuenta se perderán todos los datos y no será posible recuperarlos.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="delete/user/{{user_id}}" type="button" class="btn btn-primary" id="confirm_del_user">Si, quiero eliminar mi cuenta</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/delete_user.js' %}"></script>
{% endblock %}
