{% extends "base.html" %}

{% block title %}Edit user{% endblock %}

{% block style %}
  {% load static %}
{% endblock %}

{% block content %}
<div class="container col-6">
  <h1 class="mb-4">Editar cuenta: {{user.first_name}} {{user.last_name}}</h1>
  <form
    class="flip-card__form row g-3 needs-validation"
    method="post"
    action=""
    novalidate
  >
    {% csrf_token %}
    <div class="mb-3">
        {% if errors %}
            <ul class="errorlist">
                {% for field, error_list in errors.items %}
                    <ul class="nested-errorlist">
                        {% for error in error_list %}
                            <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="row mt-3">
      <div class="col mb-1">
        <label for="validationTooltipFirstName" class="form-label"
          >First name</label
        >
        <input
          type="text"
          name="first_name"
          class="form-control"
          id="validationTooltipFirstName"
          value="{{user.first_name}}"
          required
        />
      </div>
      <div class="col mb-1">
        <label for="validationTooltipLastName" class="form-label"
          >Last name</label
        >
        <input
          type="text"
          name="last_name"
          class="form-control"
          id="validationTooltipLastName"
          value="{{user.last_name}}"
          required
        />
      </div>
    </div>
    <div class="mb-1 mt-3">
        <label for="validationTooltipUsername" class="form-label">Username</label>
        <div class="input-group has-validation">
          <input
            type="text"
            name="username"
            class="form-control"
            id="validationTooltipUsername"
            value="{{user.username}}"
          />
        </div>
      </div>
    <div class="mb-1">
      <label for="validationTooltipEmail" class="form-label">Email</label>
      <div class="input-group has-validation">
        <input
          type="email"
          name="email"
          class="form-control"
          id="validationTooltipEmail"
          aria-describedby="validationTooltipEmailPrepend"
          placeholder="name@example.com"
          value="{{user.email}}"
          required
        />
      </div>
    </div>
    <div class="mb-1">
      <label for="validationTooltipPassword" class="form-label">Password</label>
      <div class="input-group has-validation">
        <input
          type="password"
          name="password1"
          class="form-control"
          id="validationTooltipPassword"
          aria-describedby="validationTooltipPasswordPrepend"
        />
      </div>
    </div>
    <div class="mb-1">
      <label for="validationTooltipPassword2" class="form-label"
        >Confirm Password</label
      >
      <div class="input-group has-validation">
        <input
          type="password"
          name="password2"
          class="form-control"
          id="validationTooltipPassword2"
          aria-describedby="validationTooltipPasswordPrepend"
        />
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Guardar cambios</button>
    </div>
  </form>
</div>
{% endblock %}

  {% block script %}
      {% load static %}
      <script src="{% static 'js/register_user.js' %}"></script>
  {% endblock %}